# Git Ignore file for Sentinel (Scala) Project

.history

# IntelliJ specific dirs
.idea/
*.iml
/out
/.idea_modules

# Activator binaries
activator*

# Play Framework
logs
dist
project/project
project/target
target
tmp
.cache
/RUNNING_PID

# Apple nonsense
.DS_Store

# Local application config override
conf/override.conf
