
/*body {*/
    /*font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;*/
/*}*/
/*.normal {*/
    /*color: whitesmoke;*/
    /*background-color: dodgerblue;*/
/*}*/

input.btn, button.btn {
    border: none;
}

.btn {
    background: #3498db linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 0.8em;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 0.8em;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.cancel.btn {
    background: #3498ff linear-gradient(to bottom, #3498ff, #2980b9);
}

.float-right {
    float: right;
}

.btn:hover {
    background: #3cb0fd linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btn:disabled {
    background: darkgray linear-gradient(to bottom, darkgray, #ffffff);
    text-decoration: none;
    color: #aeaeae;
    border: solid 1px #1f628d;
}

.apiKey {
    background-color: ivory;
    text-align: right;
    color: dodgerblue;
    font-size: 0.50em;
}

.label {
    margin-top: 25px;
    margin-left: 1px;
    color: dodgerblue;
    font-size: 0.75em;
}

.login-form {
    overflow: auto;
    margin: 15px;
    border: dashed 1px gray;
    padding: 10px;
    width: 20%;
}

.logout {
    margin-left: 10px;
    text-decoration: none;
}

.err-msg {
    border: solid 1px red;
    background-color: silver;
    font-size: 0.6em;
    color: #BB2020;
    padding: 0.2em 15px;
}

.userView {
    width: 70%;
    margin: 30px;
    padding: 20px;
}

.activeUser {
    border: solid 1px green;
}

.inactiveUser {
    border: solid 1px silver;
    color: darkgray;
}
