
body {
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.normal {
    color: whitesmoke;
    background-color: dodgerblue;
}

.submit-button {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.apiKey {
    background-color: ivory;
    text-align: right;
    color: dodgerblue;
    font-size: 0.50em;
}

.label {
    margin-top: 25px;
    margin-left: 1px;
    color: dodgerblue;
    font-size: 0.75em;
}

.login-form {
    overflow: auto;
    margin: 15px;
    border: dashed 1px gray;
    padding: 10px;
    width: 20%;
}

.logout {
    margin-left: 10px;
    text-decoration: none;
}

.err-msg {
    border: solid 1px red;
    background-color: silver;
    font-size: 0.6em;
    color: #BB2020;
    padding: 0.2em 15px;
}

.userView {
    width: 70%;
    margin: 30px;
    padding: 20px;
}

.activeUser {
    border: solid 1px green;
}

.inactiveUser {
    border: solid 1px silver;
    color: darkgray;
}
