
<form class="login-form" ng-submit="ctrl.createUser(user)" name="userCreateForm">
    <label for="firstname" class="label">First and Last Name:</label><br />
    <input id="firstname" type="text"
           ng-model="user.first_name"
           placeholder="First Name" >
    <input id="lastname" type="text"
           ng-model="user.last_name"
           placeholder="Last Name" ><br />
    <label for="username" class="label">Username:</label><br />
    <input id="username" type="text"
           ng-model="user.credentials.username"
           required
           ng-minlength="6"
           placeholder="Username (min 6 letters)" ><br />
    <label for="password" class="label">Password:</label><br />
    <input id="password" type="password"
           ng-model="user.credentials.password"
           required
           placeholder="Password (required)" ><br />
    <span class="err-msg" ng-show="ctrl.errMsg">{{ ctrl.errMsg }}</span>
    <a ng-href="#/listUsers" class="btn cancel">Cancel</a>&nbsp;&nbsp;
    <input type="submit" value="Create" class="btn" ng-disabled="userCreateForm.$invalid">
</form>
